body,
html,
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: ghostwhite;
  font-family: "Stick No Bills", sans-serif;
  color: darkslategray;
  text-align: center;
}
.Title {
  font-size: 6rem;
  margin-top: 1rem;
}
.Title:before {
  content: "\2698";
  color: mediumslateblue;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Img-Card {
  width: 32%;
  height: auto;
  margin: 1rem;
  background-color: lavenderblush;
  border: 0.3rem solid rgba(221, 221, 248, 0.6);
  box-shadow: 5px 5px 5px lavender;
  transition: all 0.4s;
}
.Img-Card:hover {
  transform: scale(1.5);
  background: linear-gradient(#191654, #43c6ac);
}
.Text {
  font-size: 2.5rem;
  animation-duration: 5s;
  animation-name: Changing-Colors;
}
@keyframes Changing-Colors {
  from {
    color:#9CECFB;
}
  50% {
    color:#65C7F7 ;
  }
  to {
    color: #0052D4;
  }
.PIC {
  margin-top: 5px;
  width: 45%;
  height: auto;
  padding: 0.2rem;
  transition: all 0.3s;
}
