body,
html,
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
@keyframes Color-Change {
  from {
    background-color: ghostwhite;
  }
  5% {
    background: linear-gradient(to right, #3494e6, #ec6ead);
  }
  90% {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    opacity: 0;
  }
  to {
    background-color: ghostwhite;
  }
}
body {
  background-color: ghostwhite;
  font-family: "Stick No Bills", sans-serif;
  color: darkslategray;
  text-align: center;
  animation-name: Color-Change;
  animation-duration: 20s;
}
.Title {
  text-shadow: 5px 5px 5px rgba(47, 79, 79, 0.4);
  font-size: 6rem;
  margin-top: 1rem;
}
.Title:hover {
  font-size: 6.2rem;
  text-shadow: 5px 5px 5px rgba(47, 79, 79, 0.2);
  color: #191654;
}
.Title:before {
  content: "\2698";
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Img-Card {
  width: 32%;
  height: auto;
  margin: 1rem;
  background-color: lavenderblush;
  border: 0.3rem solid rgba(221, 221, 248, 0.6);
  box-shadow: 10px 10px 5px #f0fffa;
  transition: all 0.4s;
}
.Img-Card:hover {
  transform: scale(1.7);
  background: linear-gradient(#191654, #43c6ac);
  box-shadow: 10px 10px 5px #2b2691;
}
.Text {
  font-size: 2.5rem;
}
.Text:hover {
  color: #c6435d;
  font-size: 2.4rem;
}
.PIC {
  margin-top: 5px;
  width: 45%;
  height: auto;
  padding: 0.2rem;
  transition: all 0.5s;
}
.PIC:hover {
  transform: scale(1.2);
}
@media all and (max-width: 768px) {
  @keyframes CC-768 {
    from {
      background-color: snow;
    }
    5% {
      background: linear-gradient(to right, #2C3E50, #4CA1AF);
    }
    90% {
      background: linear-gradient(to right, #2C3E50, #4CA1AF);
      opacity: 0;
    }
    to {
      background-color: snow;
    }
  body {
    color: slateblue;
    background-color: snow;
    animation-name: CC-768;
    animation-duration: 20s;
  }
  .Title {
    font-size: 5rem;
  }
  .Title:hover {
    font-size: 5.2rem;
  }
  .Text {
    font-size: 2rem;
  }
  .Text:hover {
    font-size: 1.9rem;
  }
}
@media all and (max-width: 600px) {
  @keyframes CC-600 {
    from {
      background-color: snow;
    }
    5% {
      background: linear-gradient(to right, #FFAFBD, #ffc3a0);
    }
    90% {
      background: linear-gradient(to right, #FFAFBD, #ffc3a0);
      opacity: 0;
    }
    to {
      background-color: snow;
    }
  body {
    color: teal;
    background-color: snow;
    animation-name: CC-600;
    animation-duration: 20s;
  }
  .Title {
    font-size: 4rem;
  }
  .Title:hover {
    font-size: 4.2rem;
  }
  .Text {
    font-size: 1.5rem;
  }
  .Text:hover {
    font-size: 1.4rem;
  }
}
