body {
  background-color: snow;
  box-sizing: border-box;
  font-family: "Stick No Bills", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: darkslategray;
}
.Title {
  text-align: center;
  font-size: 80%;
}
.Row {
  display: flex;
}
.Img-Card {
  box-shadow: orchid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.Text {
}
.PIC {
  margin: 1rem;
  width: 25%;
}
